[run]
omit =
    */__init__.py
    */venv/*
    */tests/*
    llm/deepseek.py
    llm/provider.py
    app.py
    api_server.py
    client/*
    storage/collection_manager.py
    chroma_db_test*

[report]
exclude_also =
    if __name__ == .__main__.:
    raise NotImplementedError
    @(abc\.)?abstractmethod